<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>书籍详情</title>
    <script type="text/javascript" th:src="@{/static/hujs/jquery-2.1.4.min.js}"></script>
    <script type="text/javascript" th:src="@{/static/hujs/bootstrap-3.1.1.min.js}"></script>
    <link th:href="@{/static/hucss/bootstrap.css}" rel="stylesheet" type="text/css" media="all" />
    <style>
        #bookinfo{
            margin-top: 30px;
        }
        #bookinfo span{
            font-size: 1.5em;
        }
        #bookinfo p{
            font-size: 1.3em;
        }
    </style>
</head>
<body>
    <nav class="navbar" role="navigation">
        <div class="container-fluid">
            <ul class="nav navbar-nav">
                <li class="active"><a href="goHomePage" th:text="#{bookdetail.homepage}">首页</a></li>
                <li><a href="#" th:text="#{bookdetail.allbooks}">所有藏书</a></li>
            </ul>
            <ul class="nav navbar-nav" style="float: right" >
                <li><a th:if="${session.loginname} eq null" href="goLogin" th:text="#{homepage.login}">登录</a></li>
                <li th:if="${session.loginname} ne null">
                    <a href="goReaderInfo"><span th:text="${session.loginname}"></span></a>
                </li>
                <li th:if="${session.loginname} ne null">
                    <a href="goOut" th:text="#{homepage.logout}">退出登录</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <div class="col-md-12">
            <img th:src="${book.bookImg}" alt="书籍封面" style="width: 45%;height: 600px;" class="col-md-8">
            <div class="col-md-6">
                <h2 style="text-align: center">书籍简介</h2>
                <p th:text="'&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;'+${book.bookDesc}" style="font-size: 1.5em; padding: 5px;line-height: 40px;"></p>
            </div>
        </div>
        <div class="col-md-12" id="bookinfo">
            <div  class="col-md-6" style="text-align: center">
                <ul class="nav">
                    <li><span th:text="#{bookdetail.name}">书名:</span><p th:text="${book.bookName}"></p></li>
                    <li><span th:text="#{bookdetail.author}">作者:</span><p th:text="${book.bookAuthor}"></p></li>
                    <li><span th:text="#{bookdetail.ISBN}">ISBN:</span><p th:text="${book.bookIsbn}"></p></li>
                    <li><span th:text="#{bookdetail.price}">价格:</span><p th:text="${book.bookPrice}"></p></li>
                </ul>
            </div>
            <div class="col-md-6" style="text-align: center">
                <ul class="nav">
                    <li><span th:text="#{bookdetail.location}">位置:</span><p th:text="${book.getBookPosition().getPlace()}"></p></li>
                    <li><span th:text="#{bookdetail.borrowed}">已借出:</span><p th:text="${bookStatus1}"></p></li>
                    <li><span th:text="#{bookdetail.ordered}">已预约:</span><p th:text="${bookStatus4}"></p></li>
                    <li><span th:text="#{bookdetail.available}">在架上:</span><p th:text="${bookStatus0}"></p></li>
                </ul>
            </div>
            <br><br>
            <hr>
            <p style="text-align: center;"><a onclick="bookresult()" class="flip-link btn btn-info" th:text="#{bookdetail.order}">预约</a></p>
        </div>
    </div>
    <script language='javascript' th:inline="javascript">
        function bookresult() {
            var code="bookId="+[[${book.bookId}]];
            $.ajax({
                type: "POST",
                url: "/bookBook",
                data: code,
                async: false,
                cache: false,
                success: function (data) {
                    if ("success" === data) {
                        alert("预约成功！");
                        window.location.href="goBookDetail?bookIsbn="+[[${book.bookIsbn}]];
                    } else if ("default" === data) {
                        alert("预约失败！书籍库存不足！");
                    } else if ("unlogin" === data) {
                        window.location.href="goLogin";
                    } else if("lockreader" === data){
                        alert("预约失败！您有借阅书籍已经超期！");
                    } else if("maxborrow" === data){
                        alert("预约失败！您最多借阅(预约)3本图书！");
                    }else if("error" === data){
                        alert("预约失败！未知错误！");
                    }
                },
                fail: function (data) {
                    alert(data);
                }
            });
        }
    </script>
</body>
</html>