<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <link href="/static/assets/css/bootstrap.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="/static/css/style.css"/>
    <link rel="stylesheet" href="/static/assets/css/ace.min.css"/>
    <link rel="stylesheet" href="/static/assets/css/font-awesome.min.css"/>
    <link href="/static/Widget/icheck/icheck.css" rel="stylesheet" type="text/css"/>
    <!--[if IE 7]>
    <link rel="stylesheet" href="/static/assets/css/font-awesome-ie7.min.css"/>
    <![endif]-->
    <!--[if lte IE 8]>
    <link rel="stylesheet" href="/static/assets/css/ace-ie.min.css"/>
    <![endif]-->
    <script src="/static/js/jquery-1.9.1.min.js"></script>
    <script src="/static/assets/js/bootstrap.min.js"></script>
    <title>书籍类型管理</title>
</head>
<body>
<div class="type_style">
    <div class="type_title" th:text="#{lib_index.items.categ}"></div>
    <div class="type_content">
        <div class="Operate_btn" style="border: 0px;padding-bottom: 0px;">
            <ul id="pro-info" class="nav nav-tabs">
                <li class="active">
                    <a href="#info-1" data-toggle="tab">
                        <i class="icon-edit align-top bigger-125"></i>
                        <span th:text="#{category.add}"></span>
                    </a>
                </li>
                <li>
                    <a href="#info-2" data-toggle="tab">
                        <i class="icon-ok align-top bigger-125"></i>
                        <span th:text="#{category.view}"></span>
                    </a>
                </li>
            </ul>
        </div>

        <div id="pro-info-content" class="tab-content" style="border-left: 1px solid lightgrey;border-right: 1px solid lightgrey;border-bottom: 1px solid lightgrey;">
            <div class="tab-pane fade in active" id="info-1" >
                <form class="form form-horizontal" id="addtypeform">
                    <div class="Operate_cont clearfix">
                        <label class="form-label">
                            <span style="color: red">*</span>
                            <span th:text="#{category.name}"></span>
                        </label>
                        <div class="formControls ">
                            <input type="text" class="input-text" id="categoryname"
                                   name="categoryname">
                        </div>
                    </div>
                    <div class="">
                        <div class="" style=" text-align:center">
                            <input class="btn btn-primary radius" onclick="submitform()" type="button" th:value="#{search.submit}">
                        </div>
                    </div>
                </form>
            </div>
            <div class="tab-pane fade" id="info-2">
                <!--类型列表-->
                <div class="bulletin_list">
                    <table class="table table-striped table-bordered table-hover" id="sample-table">
                        <thead>
                        <tr>
                            <th width="80">ID</th>
                            <th width="150px">Type Name</th>
                            <th width="300">Operation</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="t : ${types}">
                            <td th:text="${t.typeId}"></td>
                            <td th:text="${t.typeName}"></td>

                            <td class="td-manage">
                                <a th:onclick="'javascript:type_edit('+this+','+${t.typeId}+')'" th:title="#{table.title.edit}" href="javascript:;"
                                   class="btn btn-xs btn-info">
                                    <i class="icon-edit bigger-120"></i>
                                </a>
                                <a href="javascript:;" th:onclick="'javascript:type_del('+this+','+${t.typeId}+')'" th:title="#{table.title.delete}" class="btn btn-xs btn-warning">
                                    <i class="icon-trash  bigger-120"></i>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<!-- 编辑书籍类型图层-->
<div class="add_menber" id="add_menber_style" style="display:none">
    <form action="/edit_category" method="post" id="edittype">
        <ul class=" page-content">
            <li><label class="label_name" th:text="#{category.id}">ID：</label>
                <span class="add_name">
                        <input name="typeid" type="text" class="text_add" id="typeid"/>
                </span>
                <div class="prompt l_f"></div>
            </li>
            <li>
                <label class="label_name" th:text="#{category.name}">Name：</label>
                <span class="add_name">
                        <input name="typename" type="text" class="text_add" id="typename"/>
                </span>
                <div class="prompt l_f"></div>
            </li>
        </ul>
    </form>
</div>
<script type="text/javascript" src="/static/assets/layer/layer.js"></script>
<script type="text/javascript" src="/static/js/H-ui.js"></script>
<script type="text/javascript" src="/static/js/H-ui.admin.js"></script>
<script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/
    var message1 = [[#{alert.catename}]];
    var message2 = [[#{confirm.delete}]];
    var submit = [[#{search.submit}]];
    var cancel = [[#{button.cancel}]];
    /*]]>*/
    /*目前的不足之处：提交之后切换回第二个面板不会立即刷新类型列表*/
    /*增加-书籍类型*/
    function submitform(){
        var catename = $("#categoryname").val();
        if(catename == ""){
            layer.msg(message1);
        }else{
            var data="categoryname="+catename;
            $.ajax({
                type: "post",
                url: "/add_category",
                data: data,
                success: function(data){
                    layer.alert(data.msg, {
                        title: 'Info',
                        icon: 1
                    });
                    //reset表格,清空内容以便下次添加
                    setTimeout(function(){$("#addtypeform")[0].reset()},1000);
                }
            });
        }
    }

    /*书籍类型-删除*/
    function type_del(obj, id) {
        layer.confirm(message2, function (index) {
            $(obj).parents("tr").remove();
            $.post("/bookcategory/" + id, {}, function (data) {
                if (data.msg == "success") {
                    layer.msg('delete successful!', {icon: 1, time: 700});
                } else {
                    layer.msg('delete failed!', {icon: 2, time: 700});
                }
            });

        });
    }

    /*书籍类型-编辑*/
    function type_edit(obj, id) {
        $('#typeid').val(id);
        $('#typeid').attr("readonly", "readonly");
        $('#typename').focus();
        layer.open({
            type: 1,
            title: 'Modify Category',
            maxmin: true,
            shadeClose: false, //点击遮罩关闭层
            area: ['800px', '200px'],
            content: $('#add_menber_style'),
            btn: [submit, cancel],
            yes: function (index, layero) {
                var num = 0;
                var str = "";
                $(".add_menber input[type$='text']").each(function (n) {
                    if ($(this).val() == "") {
                        layer.alert(str += "" + $(this).attr("name") + " can not be empty！\r\n", {
                            title: 'Info',
                            icon: 0,
                        });
                        num++;
                        return false;
                    }
                });
                if (num > 0) {
                    return false;
                }
                else {
                    layer.alert('successful！', {
                        title: 'Info',
                        icon: 1,
                    });
                    layer.close(index);
                    setTimeout(afterOneminute,1000);
                }
            }
        });
    }
    function afterOneminute(){
        $('#edittype').submit();
        $('#typeid').val('');
        $('#typeid').removeAttr("readonly");
    }
</script>
</body>
</html>