<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <link href="/static/assets/css/bootstrap.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="/static/css/style.css"/>
    <link rel="stylesheet" href="/static/assets/css/ace.min.css"/>
    <link rel="stylesheet" href="/static/assets/css/font-awesome.min.css"/>
    <link href="/static/Widget/icheck/icheck.css" rel="stylesheet" type="text/css"/>
    <!--[if IE 7]>
    <link rel="stylesheet" href="/static/assets/css/font-awesome-ie7.min.css"/>
    <![endif]-->
    <!--[if lte IE 8]>
    <link rel="stylesheet" href="/static/assets/css/ace-ie.min.css"/>
    <![endif]-->
    <script src="/static/js/jquery-1.9.1.min.js"></script>
    <script src="/static/assets/js/bootstrap.min.js"></script>
    <title>Book Location Management</title>
</head>
<body>
<div class="type_style">
    <div class="type_title" th:text="#{lib_index.items.position}"></div>
    <div class="type_content" style="width: 50%;">
        <div class="Operate_btn" style="border: 0px;padding-bottom: 0px;">
            <ul id="pro-info" class="nav nav-tabs">
                <li class="active">
                    <a href="#info-1" data-toggle="tab">
                        <i class="icon-edit align-top bigger-125"></i>
                        <span th:text="#{position.add}"></span>
                    </a>
                </li>
                <li>
                    <a href="#info-2" data-toggle="tab">
                        <i class="icon-ok align-top bigger-125"></i>
                        <span th:text="#{position.edit}"></span>
                    </a>
                </li>
            </ul>
        </div>

        <!-- 两个切换的面板 -->
        <div id="pro-info-content" class="tab-content" style="border-left: 1px solid lightgrey;border-right: 1px solid lightgrey;border-bottom: 1px solid lightgrey;">
            <!-- 面板1 -->
            <div class="tab-pane fade in active" id="info-1" >
                <form class="form form-horizontal" id="addpositionform">
                    <div class="Operate_cont clearfix">
                        <label style="float: left;text-align: right">
                            <span style="color: red">*</span>
                            <span th:text="#{position.info}"></span>
                        </label>
                        <div class="formControls ">
                            <input type="text" class="input-text" id="positionname" name="positionname">
                        </div>
                    </div>
                    <!--<div class="Operate_cont clearfix">-->
                    <!--<label class="form-label">备注：</label>-->
                    <!--<div class="formControls">-->
                    <!--<textarea style="width: 380px" class="textarea" placeholder="说点什么...最少输入10个字符" datatype="*10-100"-->
                    <!--dragonfly="true" nullmsg="备注不能为空！" onKeyUp="textarealength(this,100)"></textarea>-->
                    <!--<p class="textarea-numberbar"><em class="textarea-length">0</em>/100</p>-->
                    <!--</div>-->
                    <!--</div>-->
                    <div class="">
                        <div style="text-align:center">
                            <input class="btn btn-primary radius" onclick="submitform()" type="button" th:value="#{search.submit}">
                        </div>
                    </div>
                </form>
            </div>
            <!-- 面板2 -->
            <div class="tab-pane fade" id="info-2">
                <!--位置信息列表-->
                <div class="bulletin_list">
                    <table class="table table-striped table-bordered table-hover" id="sample-table">
                        <thead>
                        <tr>
                            <th width="80" th:text="#{category.id}">ID</th>
                            <th width="300px" th:text="#{book.position}">Place Name</th>
                            <th width="200" th:text="#{table.operation}">Operation</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="p : ${place}">
                            <td th:text="${p.id}"></td>
                            <td th:text="${p.place}"></td>

                            <td class="td-manage">
                                <a th:onclick="'javascript:place_edit('+this+','+${p.id}+')'" th:title="#{table.title.edit}" href="javascript:;"
                                   class="btn btn-xs btn-info">
                                    <i class="icon-edit bigger-120"></i>
                                </a>
                                <a href="javascript:;" th:onclick="'javascript:place_del('+this+','+${p.id}+')'" th:title="#{table.title.edit}" class="btn btn-xs btn-warning">
                                    <i class="icon-trash  bigger-120"></i>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 编辑书籍位置图层-->
<div class="add_menber" id="add_menber_style" style="display:none">
    <form action="/edit_position" method="post" id="editplace">
        <ul class=" page-content">
            <li><label class="label_name" th:text="#{category.id}">ID：</label>
                <span class="add_name">
                        <input value="" name="placeid" type="text" class="text_add" id="placeid"/>
                </span>
                <div class="prompt l_f"></div>
            </li>
            <li><label class="label_name" th:text="#{book.position}">Place：</label>
                <span class="add_name">
                        <input value="" name="placename" type="text" class="text_add" id="placename"/>
                </span>
                <div class="prompt l_f"></div>
            </li>
        </ul>
    </form>
</div>
<script type="text/javascript" src="/static/Widget/icheck/jquery.icheck.min.js"></script>
<script type="text/javascript" src="/static/assets/layer/layer.js"></script>
<script type="text/javascript" src="/static/js/H-ui.js"></script>
<script type="text/javascript" src="/static/js/H-ui.admin.js"></script>

<script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/
    var message1 = [[#{alert.addpos}]];
    var message2 = [[#{confirm.delete}]];
    var submit = [[#{search.submit}]];
    var cancel = [[#{button.cancel}]];
    /*]]>*/
    /*增加-书籍位置信息*/
    function submitform(){
        var placename = $("#positionname").val();
        if(placename == ""){
            layer.msg(message1);
        }else{
            var data="placename="+placename;
            $.ajax({
                type: "post",
                url: "/add_position",
                data: data,
                success: function(data){
                    layer.alert(data.msg, {
                        title: 'Info',
                        icon: 1
                    });
                    //reset表格,清空内容以便下次添加
                    setTimeout(function(){$("#addpositionform")[0].reset()},1000);
                }
            });
        }
    }

    /*书籍位置信息-删除*/
    function place_del(obj, id) {
        layer.confirm(message2, function (index) {
            $(obj).parents("tr").remove();
            $.post("/bookposition/" + id, {}, function (data) {
                if (data.msg == "success") {
                    layer.msg('delete successful!', {icon: 1, time: 700});
                } else {
                    layer.msg('delete failed!', {icon: 2, time: 700});
                }
            });

        });
    }

    /*书籍类型-编辑*/
    function place_edit(obj, id) {
        $('#placeid').val(id);
        $('#placeid').attr("readonly", "readonly");
        $('#placename').focus();
        layer.open({
            type: 1,
            title: 'Modify Position',
            maxmin: true,
            shadeClose: false, //点击遮罩关闭层
            area: ['800px', '200px'],
            content: $('#add_menber_style'),
            btn: [submit, cancel],
            yes: function (index, layero) {
                var num = 0;
                var str = "";
                $(".add_menber input[type$='text']").each(function (n) {
                    if ($(this).val() == "") {
                        layer.alert(str += "" + $(this).attr("name") + " can not be empty！\r\n", {
                            title: 'Info',
                            icon: 0,
                        });
                        num++;
                        return false;
                    }
                });
                if (num > 0) {
                    return false;
                }
                else {
                    layer.alert('successful！', {
                        title: 'Info',
                        icon: 1,
                    });
                    layer.close(index);
                    setTimeout(afterOneminute,1000);
                }
            }
        });
    }
    function afterOneminute(){
        $('#editplace').submit();
        $('#placeid').val('');
        $('#placeid').removeAttr("readonly");
    }
</script>
</body>
</html>