<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>借书</title>
    <script type="text/javascript" th:src="@{/static/hujs/jquery-2.1.4.min.js}"></script>
    <script type="text/javascript" th:src="@{/static/hujs/bootstrap-3.1.1.min.js}"></script>
    <link th:href="@{/static/hucss/bootstrap.css}" rel="stylesheet" type="text/css" media="all" />
    <link href="/static/assets/css/bootstrap.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="/static/css/style.css"/>
    <link rel="stylesheet" href="/static/assets/css/ace.min.css"/>
    <link rel="stylesheet" href="/static/assets/css/font-awesome.min.css"/>
    <link href="/static/Widget/icheck/icheck.css" rel="stylesheet" type="text/css"/>
    <!--[if IE 7]>
    <link rel="stylesheet" href="/static/assets/css/font-awesome-ie7.min.css"/>
    <![endif]-->
    <link rel="stylesheet" href="/static/assets/css/ace-ie.min.css"/>
    <script type="text/javascript" src="/static/assets/layer/layer.js"></script>
</head>
<body>
<div class="type_style">
    <div class="type_title" th:text="#{lib_index.items.borbook}"></div>
    <div class="type_content" style="width: 50%;">
        <div class="Operate_btn" style="border: 0px;padding-bottom: 0px;">
            <ul id="pro-info" class="nav nav-tabs">
                <li class="active">
                    <a href="#info-1" data-toggle="tab">
                        <i class="icon-edit align-top bigger-125"></i>
                        <span th:text="#{lib_index.items.borbook}"></span>
                    </a>
                </li>
            </ul>
        </div>

        <div id="pro-info-content" class="tab-content" style="border-left: 1px solid lightgrey;border-right: 1px solid lightgrey;border-bottom: 1px solid lightgrey;">
            <!-- 面板1 -->
            <div class="tab-pane fade in active" id="info-1" >
                <form class="form form-horizontal" method="post" id="borrowbookform">
                    <div class="Operate_cont clearfix">
                        <label style="float: left;text-align: right">
                            <span style="color: red">*</span>
                            <span th:text="#{reader.rid}"></span>
                        </label>
                        <div class="formControls ">
                            <input type="text" class="input-text" id="readerId" name="readerId">
                        </div>
                    </div>
                    <div class="Operate_cont clearfix">
                        <label style="float: left;text-align: right">
                            <span style="color: red">*</span>
                            <span th:text="#{book.bookid}"></span>
                        </label>
                        <div class="formControls ">
                            <input type="text" class="input-text" id="bookId" name="bookId">
                        </div>
                    </div>
                    <div>
                        <div style="text-align:center">
                            <input class="btn btn-primary radius" onclick="submitform()" type="button" th:value="#{button.borrow}">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script th:inline="javascript">
    /*<![CDATA[*/
    var message2 = [[#{alert.brbidandrid}]];
    /*]]>*/
    /*借书ajax提交*/
    function submitform(){
        var readerid = $("#readerId").val();
        var bookid = $("#bookId").val();
        if(readerid == '' || bookid == ''){
            layer.msg(message2, {icon: 7});
        } else{
            var data="readerId="+readerid+"&bookId="+bookid;
            $.ajax({
                type: "post",
                url: "/borrowBook",
                data: data,
                success: function(data){
                    layer.msg(data, {
                        title: 'Info',
                        icon: 8,
                        anim: 4
                    });
                    //reset表格,清空内容以便下次添加
                    setTimeout(function(){$("#borrowbookform")[0].reset()},1000);
                }
            });
        }
    }
    $(function(){
        $("#readerId").focus();
    });
</script>
</body>
</html>