<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link th:href="@{/static/assets/css/bootstrap.min.css}" rel="stylesheet"/>
    <link rel="stylesheet" th:href="@{/static/css/style.css}"/>
    <link rel="stylesheet" th:href="@{/static/assets/css/font-awesome.min.css}"/>
    <link th:href="@{/static/assets/css/codemirror.css}" rel="stylesheet">
    <!--[if IE 7]>
    <link rel="stylesheet" th:href="@{/static/assets/css/font-awesome-ie7.min.css}"/>
    <![endif]-->
    <!--[if lte IE 8]>
    <link rel="stylesheet" th:href="@{/static/assets/css/ace-ie.min.css}"/>
    <![endif]-->
    <script th:src="@{/static/assets/js/ace-extra.min.js}"></script>
    <!--[if lt IE 9]>
    <script th:src="@{/static/assets/js/html5shiv.js}"></script>
    <script th:src="@{/static/assets/js/respond.min.js}"></script>
    <![endif]-->
    <!--[if !IE]> -->
    <script th:src="@{/static/assets/js/jquery.min.js}"></script>
    <!-- <![endif]-->
    <script th:src="@{/static/assets/dist/echarts.js}"></script>
    <script th:src="@{/static/assets/js/bootstrap.min.js}"></script>
    <title></title>
</head>
<body>
<div class="page-content clearfix">
    <div class="alert alert-block alert-success">
        <button type="button" class="close" data-dismiss="alert"><i class="icon-remove"></i></button>
        <i class="icon-ok green"></i>Welcome to <strong class="green">Bibliosoft System
        <small>(v1.0.2)</small>
    </strong>, The time you landed is: <em id="time"></em>，login IP: <em id="ip"></em>.
    </div>
    <div class="state-overview clearfix">
        <div class="col-lg-3 col-sm-6">
            <section class="panel">
                <a href="reader_list" th:title="#{home.title.readers}">
                    <div class="symbol terques">
                        <i class="icon-user"></i>
                    </div>
                    <div class="value">
                        <h1 th:text="${totalReaders}"></h1>
                        <p th:text="#{home.readers}"></p>
                    </div>
                </a>
            </section>
        </div>
        <div class="col-lg-3 col-sm-6">
            <section class="panel">
                <a href="book_list" th:title="#{home.title.books}">
                    <div class="symbol red">
                        <i class="icon-book"></i>
                    </div>
                    <div class="value">
                        <h1 th:text="${totalBooks}"></h1>
                        <p th:text="#{home.books}"></p>
                    </div>
                </a>
            </section>
        </div>
        <div class="col-lg-3 col-sm-6">
            <section class="panel">
                <a href="reader_feedback" th:title="#{home.title.feedbacks}">
                    <div class="symbol yellow">
                        <i class="icon-comment"></i>
                    </div>
                    <div class="value">
                        <h1 th:text="${totalfeedbacks}"></h1>
                        <p th:text="#{home.feedbacks}"></p>
                    </div>
                </a>
            </section>
        </div>
        <div class="col-lg-3 col-sm-6">
            <section class="panel">
                <a href="#" th:title="#{home.title.income}">
                    <div class="symbol blue">
                        <i class="icon-bar-chart"></i>
                    </div>
                    <div class="value">
                        <h1 th:text="${income}"></h1>
                        <p th:text="#{home.income}"></p>
                    </div>
                </a>
            </section>
        </div>
    </div>
    <!--实时反馈记录-->
    <div class="clearfix">
        <div class="t_Record">
            <div id="main" style="height:300px; overflow:hidden; width:100%; overflow:auto"></div>
            <p style="text-align: center; width: 100%" th:text="#{home.chart.bellow}"></p>
        </div>
        <div class="news_style">
            <div class="title_name" th:text="#{home.newfeed}"></div>
            <ul class="list">
                <li th:each="f : ${feedbacks}">
                    <i class="icon-bell red"></i>
                    <a href="reader_feedback" th:text="${f.reader.readerName}"></a>
                </li>
            </ul>
        </div>

    </div>

    <!-- 获取当前IP地址 -->
    <script src="http://pv.sohu.com/cityjson?ie=utf-8"></script>

    <script type="text/javascript" th:inline="javascript">
        //时间设置
        function currentTime() {
            var d = new Date(), str = '';
            str += d.getFullYear() + '年';
            str += d.getMonth() + 1 + '月';
            str += d.getDate() + '日';
            str += d.getHours() + '时';
            str += d.getMinutes() + '分';
            return str;
        }

        $(document).ready(function () {
            //设置当前进入登录时间
            $('#time').html(currentTime);
            //设置IP地址
            $('#ip').html(returnCitySN["cip"] + ',' + returnCitySN["cname"]);
            $(".t_Record").width($(window).width() - 320);
            //当文档窗口发生改变时 触发
            $(window).resize(function () {
                $(".t_Record").width($(window).width() - 320);
            });
        });


        require.config({
            paths: {
                //这！！！不能写错，不能以“/“开头，不能加项目名！！！
                echarts: 'static/assets/dist'
            }
        });

        require(
            [
                'echarts',
                'echarts/theme/macarons',
                'echarts/chart/line',   // 按需加载所需图表，如需动态类型切换功能，别忘了同时加载相应图表
                'echarts/chart/bar'
            ],
            function (ec, theme) {
                /*<![CDATA[*/
                var text = [[#{home.chart.name}]];
                var text1 = [[#{home.chart.loading}]];
                var subtext = [[#{home.chart.subname}]]
                /*]]>*/
                var myChart = ec.init(document.getElementById('main'), theme);
                //图表显示提示信息
                myChart.showLoading({
                    text: text1
                });

                var option = {
                    title: {
                        // text: 'library book status',
                        text: text,
                        subtext: subtext
                    },
                    tooltip: {
                        trigger: 'axis'
                    },
                    legend: {
                        data: []
                    },
                    toolbox: {
                        show: true,
                        feature: {
                            mark: {show: true},
                            dataView: {show: true, readOnly: false},
                            magicType: {show: true, type: ['line', 'bar']},
                            restore: {show: true},
                            saveAsImage: {show: true}
                        }
                    },
                    calculable: true,
                    xAxis: [
                        {
                            type: 'category',
                            data: ['Jan.', 'Feb.', 'Mar.', 'Apr.', 'May.', 'June.', 'July.', 'Aug.', 'Sept.', 'Oct.', 'Nov.', 'Dec.']
                        }
                    ],
                    yAxis: [
                        {
                            type: 'value'
                        }
                    ],
                    series: []
                };
                $.ajax({
                    type : "post",
                    url : "homedata",
                    async: false, //同步执行
                    dataType: "json", //返回数据形式为json
                    success : function(result) {
                        //将从后台接收的json字符串转换成json对象
                        var jsonobj = eval(result);
                        //给图标标题赋值
                        option.legend.data = jsonobj.legend;
                        var series_arr = jsonobj.series;
                        //驱动图表生成的数据内容，数组中每一项代表一个系列的特殊选项及数据
                        for(var i = 0; i < series_arr.length; i++) {
                            option.series[i] = series_arr[i];
                        }
                        //过渡控制，隐藏loading（读取中）
                        myChart.hideLoading();
                        // 为echarts对象加载数据
                        myChart.setOption(option);
                    }
                });
            }
        );
    </script>
</div>
</body>
</html>
