<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" th:href="@{/static/images/favicon.ico}"/>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
    <title>个人信息管理</title>
    <link th:href="@{/static/hucss/bootstrap.css}" rel="stylesheet" type="text/css" media="all" />
    <script type="text/javascript" th:src="@{/static/hujs/jquery-2.1.4.min.js}"></script>
    <script type="text/javascript" th:src="@{/static/hujs/bootstrap-3.1.1.min.js}"></script>
    <link th:href="@{/static/hucss/copyright.css}" rel="stylesheet" type="text/css" />
    <style>
        .imgsize img{
            width: 85px;
            height: 120px;
        }
        .imgsize li{
            height: 150px;
            width: 100%;
        }
        .imgsize h4{
            font-size: 1.2em;
        }
        .bookinfo{
            padding: 10px;
        }
        .bookinfo span{
            color: black;
        }
    </style>
</head>
<body style="background-color: #f7f7f7">
<nav class="navbar" role="navigation">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li class="active"><a href="goHomePage" th:text="#{bookdetail.homepage}">首页</a></li>
            <li><a href="goSearch" th:text="#{bookdetail.allbooks}">所有藏书</a></li>
        </ul>
        <ul class="nav navbar-nav" style="float: right;">
            <li><a href="goReaderInfo"><span th:text="${session.loginname}"></span></a></li>
            <li><a href="goOut" th:text="#{homepage.logout}">退出登录</a></li>
        </ul>
    </div>
</nav>
<div class="container">
    <div class="col-md-12">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#info-1" data-toggle="tab" th:text="#{readerinfo.myinfo}">我的信息</a></li>
            <li><a href="#info-2" data-toggle="tab" th:text="#{readerinfo.myborr}">我的借阅</a></li>
            <li><a href="#info-3" data-toggle="tab" th:text="#{readerinfo.myorder}">我的预约</a></li>
            <li><a href="#info-4" data-toggle="tab" th:text="#{readerinfo.history}">借阅历史</a></li>
        </ul>
        <div  class="tab-content" >
            <div class="tab-pane fade in active" id="info-1">
                <br>
                <form class="form-horizontal" role="form" action="changeReaderInfo" enctype="multipart/form-data" method="post">
                    <div class="col-md-8 form-group">
                        <label class="col-md-3 control-label" th:text="#{readerinfo.name}">姓名</label>
                        <div class="col-md-7">
                            <input class="form-control" id="name" name="readerName" type="text" th:value="${reader.readerName}">
                        </div>
                        <br><br><br>
                        <label class="col-md-3 control-label" th:text="#{readerinfo.sex}">性别</label>
                        <div class="col-md-7">
                            <select name="choose-sex" class="selectpicker show-tick form-control"  data-live-search="false" id="choose-sex">
                                <option value="0" >secret</option>
                                <option value="1" >male</option>
                                <option value="2" >famle</option>
                            </select>
                        </div>
                        <input   name="sex" type="text" id="sex" value="" hidden>
                        <br><br><br>
                        <label class="col-md-3 control-label" th:text="#{readerinfo.fine}">罚金</label>
                        <div class="col-md-7">
                            <input class="form-control" id="alldebt" name="alldebt" type="text" th:value="${reader.alldebt}" readonly="readonly">
                        </div>
                    </div>
                    <div class="col-md-4 form-group">
                        <div class="col-md-12">
                            <img  style="width: 200px;height: 200px" id="headimgshow" th:src="@{${reader.imgsrc}}">
                        </div>
                        <div class="col-md-12">
                            <input type="file" name="imgFile" id="file-btn" style="display:none;">
                            <br>
                            <a href="#" onclick="UpLoad();return false;" class="fa fa-folder-open fa-lg" aria-hidden="true" th:text="#{readerinfo.selectfile}">点击选择文件</a>
                        </div>
                    </div>

                    <div class="form-group has-success">
                        <label class="col-md-2 control-label" th:text="#{readerinfo.tel}">电话</label>
                        <div class="col-md-8">
                            <input type="text" name="phone" class="form-control" id="phonenumber" th:value="${reader.phone}" readonly="readonly">
                        </div>
                    </div>

                    <div class="form-group has-success">
                        <label class="col-md-2 control-label" th:text="#{readerinfo.mail}">邮箱</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" id="email" name="eamil" th:value="${reader.email}" readonly="readonly">
                        </div>
                        <button class="col-md-2 btn btn-warning" type="button" onclick="GoChangeEmail()" th:text="#{readerinfo.changebinding}">更改绑定</button>
                    </div>

                    <div class="form-group has-success" hidden="hidden" id="reemail">
                        <label class="col-md-2 control-label" >验证码</label>
                        <div class="col-md-8">
                            <input type="text" name="emailcode" id="emailcode" class="form-control">
                        </div>
                        <br><br>
                        <label class="col-md-2 control-label" >新邮箱</label>
                        <div class="col-md-8">
                            <input type="text" name="newemail" id="newemail" class="form-control">
                        </div>
                        <button class="col-md-2 btn btn-primary" type="button" onclick="ChangeEmail()" th:text="#{readerinfo.confirm}">确认更改</button>
                    </div>

                    <div class="form-group has-success">
                        <label class="col-md-2 control-label" th:text="#{readerinfo.password}">密码</label>
                        <div class="col-md-8">
                            <input type="password" name="password" class="form-control"  th:value="${reader.password}" readonly="readonly">
                        </div>
                        <button class="col-md-2 btn btn-warning" type="button" onclick="GoChangePassword()" th:text="#{readerinfo.changepwd}">更改密码</button>
                    </div>

                    <div class="form-group has-success" hidden="hidden" id="repassword">
                        <label class="col-md-2 control-label" th:text="#{readerinfo.oldpwd}">原密码</label>
                        <div class="col-md-8">
                            <input type="password" name="oldpassword" id="oldpassword" class="form-control">
                        </div>
                        <br><br>
                        <label class="col-md-2 control-label" th:text="#{readerinfo.newpwd}">新密码</label>
                        <div class="col-md-8">
                            <input type="password" name="newpassword" id="newpassword" class="form-control">
                        </div>
                        <button class="col-md-2 btn btn-primary" type="button" onclick="ChangePassword()" th:text="#{readerinfo.confirm}">确认更改</button>
                    </div>

                    <button type="submit" class="btn btn-primary" style="float: right" onclick="Change()" th:text="#{readerinfo.save}">保存修改</button>
                </form>
            </div>
            <div class="tab-pane fade" id="info-2">
                <ul class="nav imgsize">
                    <li th:each="borrow:${borrowlist}">
                        <a th:href="@{'goBookDetail?bookIsbn='+${borrow.book.bookIsbn}}" style="float: left">
                            <img th:if="${borrow.book.judgeSrcLocalOrWeb() eq 1}" th:src="@{'https://images.weserv.nl/?url='+${borrow.book.bookImg}}" alt="">
                            <img th:if="${borrow.book.judgeSrcLocalOrWeb() eq 0}" th:src="@{${borrow.book.bookImg}}" alt="">
                        </a>
                        <div class="bookinfo">
                            <h4><span th:text="#{readerinfo.bookname}">书籍名称:</span><span th:text="${borrow.book.bookName}"></span></h4>
                            <h4><span th:text="#{readerinfo.borrdate}">借书时间:</span><span th:text="${borrow.borrowtime}"></span></h4>
                            <h4><span th:text="#{readerinfo.remaining}">剩余还书天数:</span><span th:text="${borrow.lastday}"></span></h4>
                            <h4><span th:text="#{readerinfo.charge}">该书籍欠费:</span><span th:text="${borrow.debt}"></span></h4>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="tab-pane fade" id="info-3">
                <ul class="nav imgsize">
                    <li th:each="appointment:${appointmentlist}">
                        <a th:href="@{'goBookDetail?bookIsbn='+${appointment.book.bookIsbn}}" style="float: left">
                            <img th:if="${appointment.book.judgeSrcLocalOrWeb() eq 1}" th:src="@{${'https://images.weserv.nl/?url='+appointment.book.bookImg}}" alt="">
                            <img th:if="${appointment.book.judgeSrcLocalOrWeb() eq 0}" th:src="@{${appointment.book.bookImg}}" alt="">
                        </a>
                        <div class="bookinfo">
                            <h4><span th:text="#{readerinfo.bookname}">书籍名称:</span><span th:text="${appointment.book.bookName}"></span></h4>
                            <h4><span th:text="#{bookdetail.location}">书籍位置:</span><span th:text="${appointment.book.getBookPosition().getPlace()}"></span></h4>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="tab-pane fade" id="info-4">
                <ul class="nav imgsize">
                    <li th:each="history:${historylist}">
                        <a th:href="@{'goBookDetail?bookIsbn='+${history.book.bookIsbn}}" style="float: left">
                            <img th:if="${history.book.judgeSrcLocalOrWeb() eq 1}" th:src="@{${'https://images.weserv.nl/?url='+history.book.bookImg}}" alt="" >
                            <img th:if="${history.book.judgeSrcLocalOrWeb() eq 0}" th:src="@{${history.book.bookImg}}" alt="" >
                        </a>
                        <div class="bookinfo">
                            <h4><span th:text="#{readerinfo.bookname}">书籍名称:</span><span th:text="${history.book.bookName}"></span></h4>
                            <h4><span th:text="#{readerinfo.borrdate}">借书时间:</span><span th:text="${history.borrowtime}"></span></h4>
                            <h4><span th:text="#{readerinfo.returndate}">还书时间:</span><span th:text="${history.returntime}"></span></h4>
                            <h4><span th:text="#{readerinfo.charge}">该书籍曾欠费:</span><span th:text="${history.debt}"></span></h4>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="copy-right" style="margin-top: 250px;">
    <div class="container">
        <p th:text="#{copyright}"></p>
    </div>
</div>
<script language='javascript' th:inline="javascript">

    var readerSex=[[${reader.sex}]];
    if(readerSex=="male"){
        $("#choose-sex").val("1");
    }else if(readerSex=="famle"){
        $("#choose-sex").val("2");
    }else{
        $("#choose-sex").val("0");
    }

    function Change() {
        var sex=$('#choose-sex option:selected').text();
        document.getElementById("sex").value=sex;
    }

    function GoChangePassword(){
        $("#repassword").show();
    }
    
    function  GoChangeEmail(){
        $.ajax({
            type: "POST",
            url: "sendEmailCode",
            data: null,
            async: false,
            cache: false,
            success: function (data) {
                if ("success" === data) {
                    alert("已发送验证码到邮箱！");
                } else if ("default" === data) {
                    alert("验证码发送失败!请稍后再试！");
                } else if ("error" === data) {
                    alert("未知错误!");
                }
            },
            fail: function (data) {
                alert(data);
            }
        });
        $("#reemail").show();
    }
    function ChangeEmail(){
        var emailcode=$('#emailcode').val();
        var newemail=$('#newemail').val();
        if(emailcode==null||emailcode==""||newemail==null||newemail==""){
            alert("请输入正确的信息！");
            return false;
        }
        var code="emailcode="+emailcode+"&&newemail="+newemail;
        $.ajax({
            type: "POST",
            url: "changeEmail",
            data: code,
            async: false,
            cache: false,
            success: function (data) {
                if ("success" === data) {
                    alert("更改邮箱成功！");
                    window.location.href="goReaderInfo";
                } else if ("erremailcode" === data) {
                    alert("验证码错误！");
                } else if ("error" === data) {
                    alert("未知错误!");
                }
            },
            fail: function (data) {
                alert(data);
            }
        });
    }
    function UpLoad() {
        $("#file-btn").click();
    }

    $('#file-btn').change(function(){
        //获取input file的files文件数组;
        //$('#filed')获取的是jQuery对象，.get(0)转为原生对象;
        //这边默认只能选一个，但是存放形式仍然是数组，所以取第一个元素使用[0];
        var file = $('#file-btn').get(0).files[0];
        //创建用来读取此文件的对象
        var reader = new FileReader();
        //使用该对象读取file文件
        reader.readAsDataURL(file);
        //读取文件成功后执行的方法函数
        reader.onload=function(e){
            //读取成功后返回的一个参数e，整个的一个进度事件
            console.log(e);
            //选择所要显示图片的img，要赋值给img的src就是e中target下result里面
            //的base64编码格式的地址
            $('#headimgshow').get(0).src = e.target.result;
        }
    })

    function ChangePassword() {
        var oldpassword=$('#oldpassword').val();
        var newpassword=$('#newpassword').val();
        if(oldpassword==null||oldpassword==""||newpassword==null||newpassword==""){
            alert("请输入正确的密码！");
            return false;
        }
        var code="oldpassword="+oldpassword+"&&newpassword="+newpassword;
        $.ajax({
            type: "POST",
            url: "changePassword",
            data: code,
            async: false,
            cache: false,
            success: function (data) {
                if ("success" === data) {
                    alert("修改密码成功！");
                    window.location.href="goReaderInfo";
                } else if ("erroldpassword" === data) {
                    alert("原密码输入错误!");
                } else if ("error" === data) {
                    alert("未知错误!");
                }
            },
            fail: function (data) {
                alert(data);
            }
        });
    }
</script>
</body>
</html>