<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<title>login</title>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<link rel="stylesheet" th:href="@{/static/login/bootstrap.min.css}"/>
<link rel="stylesheet" th:href="@{/static/login/css/camera.css}" />
<link rel="stylesheet" th:href="@{/static/login/bootstrap_responsive.min.css}"/>
<link rel="stylesheet" th:href="@{/static/login/matrix_login.css}"/>
<link rel="stylesheet" th:href="@{/static/login/font_awesome.css}"/>
	<link rel="shortcut icon" th:href="@{/static/images/favicon.ico}"/>
<script type="text/javascript" th:src="@{/static/login/js/jquery_1.5.1.min.js}"></script>
<!-- 软键盘控件start -->
<link th:href="@{/static/login/keypad/css/framework/form.css}" rel="stylesheet" type="text/css"/>
<!-- 软键盘控件end -->

<script th:src="@{/static/login/js/bootstrap.min.js}"></script>
<script th:src="@{/static/js/jquery_1.7.2.js}"></script>
<script th:src="@{/static/login/js/jquery.easing.1.3.js}"></script>
<script th:src="@{/static/login/js/jquery.mobile.customized.min.js}"></script>
<script th:src="@{/static/login/js/camera.min.js}"></script>
<script th:src="@{/static/login/js/templatemo_script.js}"></script>
<script th:src="@{/static/login/js/ban.js}"></script>
<script type="text/javascript" th:src="@{/static/js/jQuery.md5.js}"></script>
<script type="text/javascript" th:src="@{/static/js/jquery.tips.js}"></script>
<script type="text/javascript" th:src="@{/static/js/jquery.cookie.js}"></script>

<!-- 软键盘控件start -->
<script type="text/javascript" th:src="@{/static/login/keypad/js/form/keypad.js}"></script>
<script type="text/javascript" th:src="@{/static/login/keypad/js/framework.js}"></script>
<!-- 软键盘控件end -->
 <style type="text/css">
    /*
   body{
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
	padding-top:20px;
    }
    */
      .cavs{
    	z-index:1;
    	position: fixed;
    	width:95%;
    	margin-left: 20px;
    	margin-right: 20px;
    }
  </style>
  <script>
  		//window.setTimeout(showfh,3000); 
  		var timer;
		function showfh(){
			fhi = 1;
			//关闭提示晃动屏幕，注释掉这句话即可
			timer = setInterval(xzfh2, 10); 
		};
		var current = 0;
		function xzfh(){
			current = (current)%360;
			document.body.style.transform = 'rotate('+current+'deg)';
			current ++;
			if(current>360){current = 0;}
		};
		var fhi = 1;
		var current2 = 1;
		function xzfh2(){
			if(fhi>50){
				document.body.style.transform = 'rotate(0deg)';
				clearInterval(timer);
				return;
			}
			current = (current2)%360;
			document.body.style.transform = 'rotate('+current+'deg)';
			current ++;
			if(current2 == 1){current2 = -1;}else{current2 = 1;}
			fhi++;
		};
	</script>
</head>
<body>

	<!--小键盘承载器-->
	<canvas class="cavs"></canvas>
	<div style="width:100%;text-align: center;margin: 0 auto;position: absolute;">
		<!-- 登录 -->
		<div id="windows1">
		<div id="loginbox" >
			<form action="" method="post" name="loginForm" id="loginForm">
				<div class="control-group normal_text">
					<h3>
						<img th:src="@{/static/login/logo.png}" alt="Logo" />
					</h3>
				</div>
				<div class="control-group">
					<div class="controls">
						<div class="main_input_box">
							<span class="add-on bg_lg">
							<i><img height="37" th:src="@{/static/login/user.png}" /></i>
							</span><input type="text" name="readerId" id="readerId" value="" th:placeholder="#{readerlogin.username}" />
						</div>
					</div>
				</div>
				<div class="control-group">
					<div class="controls">
						<div class="main_input_box">
							<span class="add-on bg_ly">
							<i><img height="37" th:src="@{/static/login/suo.png}" /></i>
							</span><input type="password" name="password" id="password" th:placeholder="#{readerlogin.password}" class="keypad" keypadMode="full" allowKeyboard="true" value=""/>
						</div>
					</div>
				</div>
				<div style="float:right;padding-right:10%;">
					<div style="float: left;margin-top:3px;margin-right:2px;">
						<span style="color: #999999" th:text="#{readerlogin.remember}">Remember Me</span>
					</div>
					<div style="float: left;">
						<input name="form-field-checkbox" id="saveid" type="checkbox"
							onclick="savePaw();" style="padding-top:0px;" />
					</div>
				</div>
				<div class="form-actions">
					<div style="width:86%;padding-left:8%;">

						<div style="float: left;padding-top:2px;">
							<i><img th:src="@{/static/login/yan.png}" /></i>
						</div>
						<div style="float: left;" class="codediv">
							<input type="text" name="code" id="code" class="login_code"
								style="height:16px; padding-top:4px;" />
						</div>
						<div style="float: left;">
							<i><img style="height:26px;" id="codeImg" alt="点击更换" title="点击更换" src="" /></i>
						</div>
						<span class="pull-right"><a onclick="severCheck();" class="flip-link btn btn-info" th:id="to-recover" th:text="#{readerlogin.signin}">登录</a></span>
						<span class="pull-right"><a href="goHomePage" class="flip-link btn btn-info" th:text="#{readerlogin.back}">返回主页</a></span>
						<span class="pull-right"><a href="#" onclick="forgetPassword()" class="flip-link btn btn-info" th:text="#{readerlogin.forget}">忘记密码</a></span>
					</div>
				</div>
			</form>
			<div class="controls">
				<div class="main_input_box">
					<font color="white"><span th:id="nameerr">Copyright © 图书科技 2018</span></font>
				</div>
			</div>
		</div>
		</div>
		
	</div>
	<div id="templatemo_banner_slide" class="container_wapper">
		<div class="camera_wrap camera_emboss" id="camera_slide">
			<!-- 背景图片 -->
            <div th:attr="data-src=@{/static/login/images/banner_slide_01.jpg}"></div>
            <div th:attr="data-src=@{/static/login/images/banner_slide_02.jpg}"></div>
            <div th:attr="data-src=@{/static/login/images/banner_slide_03.jpg}"></div>
            <div th:attr="data-src=@{/static/login/images/banner_slide_04.jpg}"></div>
            <div th:attr="data-src=@{/static/login/images/banner_slide_05.jpg}"></div>

		</div>
		<!-- #camera_wrap_3 -->
	</div>

	<script type="text/javascript">
		//服务器校验
		function severCheck(){
			if(check()){
				var readerId = $("#readerId").val();
				var password = $("#password").val();
				var code = "readerId="+readerId+"&password="+password+"&code="+$("#code").val();
				$.ajax({
					type: "POST",
					url: '/reader_login',//验证
			    	data: code,
					// dataType:"json",不能写这个，否则永远返回不了String数据
                    async : false,
                    cache : false,
					success: function(data){
                        //alert(data);
						if("success" === data){
							saveCookie();
							window.location.href="goHomePage";//进入主页
						}else if("usererror" === data){
							$("#readerId").tips({
								side : 1,
								msg : "用户名或密码有误",
								bg : '#FF5080',
								time : 15
							});
							showfh();
							$("#readerId").focus();
						}else if("codeerror" === data){
							$("#code").tips({
								side : 1,
								msg : "验证码输入有误",
								bg : '#FF5080',
								time : 15
							});
							showfh();
							$("#code").focus();
						}else{
							$("#readerId").tips({
								side : 1,
								msg : "缺少参数",
								bg : '#FF5080',
								time : 15
							});
							showfh();
							$("#readerId").focus();
						}
					},
                    fail: function (data) {
                        alert(data);
                    }
				});
			}
		}
	
		$(document).ready(function() {
			changeCode1();
			$("#codeImg").bind("click", changeCode1);
			$("#zcodeImg").bind("click", changeCode2);
		});

		$(document).keyup(function(event) {
			if (event.keyCode == 13) {
				$("#to-recover").trigger("click");
			}
		});

		function genTimestamp() {
			var time = new Date();
			return time.getTime();
		}

		function changeCode1() {
			$("#codeImg").attr("src", "code?t="+genTimestamp());
		}
		function changeCode2() {
			$("#zcodeImg").attr("src", "code?t="+genTimestamp());
		}

		//客户端校验
		function check() {

			if ($("#readerId").val() == "") {
				$("#readerId").tips({
					side : 2,
					msg : '学号不得为空',
					bg : '#AE81FF',
					time : 3
				});
				showfh();
				$("#readerId").focus();
				return false;
			} else {
				$("#readerId").val(jQuery.trim($('#readerId').val()));
			}
			if ($("#password").val() == "") {
				$("#password").tips({
					side : 2,
					msg : '密码不得为空',
					bg : '#AE81FF',
					time : 3
				});
				showfh();
				$("#password").focus();
				return false;
			}
			if ($("#code").val() == "") {
				$("#code").tips({
					side : 1,
					msg : '验证码不得为空',
					bg : '#AE81FF',
					time : 3
				});
				showfh();
				$("#code").focus();
				return false;
			}
			$("#loginbox").tips({
				side : 1,
				msg : '正在登录 , 请稍后 ...',
				bg : '#68B500',
				time : 10
			});

			return true;
		}

		function savePaw() {
			if (!$("#saveid").attr("checked")) {
				$.cookie('readerId', '', {
					expires : -1
				});
				$.cookie('password', '', {
					expires : -1
				});
				$("#readerId").val('');
				$("#password").val('');
			}
		}

		function saveCookie() {
			if ($("#saveid").attr("checked")) {
				$.cookie('readerId', $("#readerId").val(), {
					expires : 7
				});
				$.cookie('password', $("#password").val(), {
					expires : 7
				});
			}
		}
		
		jQuery(function() {
			var readerId = $.cookie('readerId');
			var password = $.cookie('password');
			if (typeof(readerId) != undefined
					&& typeof(password) != undefined) {
				$("#readerId").val(readerId);
				$("#password").val(password);
				$("#saveid").attr("checked", true);
				$("#code").focus();
			}
		});
	
        //邮箱格式校验
        function ismail(mail){
            return(new RegExp(/^(?:[a-zA-Z0-9]+[_\-\+\.]?)*[a-zA-Z0-9]+@(?:([a-zA-Z0-9]+[_\-]?)*[a-zA-Z0-9]+\.)+([a-zA-Z]{2,})+$/).test(mail));
        }
        //忘记密码
        function forgetPassword() {
            var readerId=$('#readerId').val();
            if(readerId!=null&&readerId!=""){
                var code="readerId="+readerId;
                $.ajax({
                    type: "POST",
                    url: "/forgetPassword",
                    data: code,
                    async: false,
                    cache: false,
                    success: function (data) {
                        if ("success" === data) {
                            alert("密码已经发送至用户邮箱！");
                        } else if ("errreaderId" === data) {
                            alert("用户名输入错误!");
                        } else if ("error" === data) {
                            alert("未知错误!");
                        }
                    },
                    fail: function (data) {
                        alert(data);
                    }
                });
            }else{
                alert("请输入用户名!");
            }
        }
    </script>

</body>

</html>